<html>

<head>
    <script>
        function showResult(str) {
            if (str.length == 0) {
                document.getElementById("output").innerHTML = "";
                return;
            }
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {  // code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("output").innerHTML = this.responseText;
                }
            };
            xmlhttp.open("GET", "http://localhost:8080/getAllContaining/" + str, true);
            xmlhttp.send();
        }
    </script>
</head>

<body>
<form>
    <input onkeyup="showResults(this.value())"/>
</form>
<h1 id="output"></h1>
</body>


</html>