<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:properties.txt"/>


    <bean id="baseball" class="com.springXML.BaseballCoach">
        <constructor-arg ref="random_greet"/>
    </bean>

    <bean id="football" class="com.springXML.FootballCoach">
        <property name="coachDependency" ref="greet"/>
        <property name="teamName" value="${teamName}"/>
    </bean>

    <bean id="greet" class="com.springXML.GreetingDependency"/>
    <bean id="random_greet" class="com.springXML.RandomDependency"/>

</beans>