<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-list-css.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <form class="form-inline" th:action="@{/login}" method="post">
                    <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username"/>
                    <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password"/>
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log In</button>
                </form>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form class="form-inline" th:action="@{/logout}" method="post">
                    <label class="mr-sm-2" for="logoff" th:inline="text">Hello
                        [[${#httpServletRequest.remoteUser}]]!</label>
                    <input id="logoff" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Log Out"/>
                </form>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                Logged out.
            </div>
        </div>
    </div>
</div>
</body>
</html>